{% load static %}


<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
      <a href="{% url 'profiles' %}" class="header__logo">
        <img src="{% static 'images/ngo.jpeg' %}" alt="NGO Logo"/>
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'profiles' %}">Користувачі</a></li>
          <li class="header__menuItem"><a href="{% url 'projects' %}">Проєкти</a></li>
          <li class="header__menuItem"><a href="">Вхідні</a></li> 
          

          {% if request.user.is_authenticated %}
          <li class="header__menuItem"><a href="{% url 'create-project' %}">Додати проєкт</a></li>
          <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Вийти</a></li>
          {% else %}
          <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Логін/Вхід</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>